*, *:before,*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 200px;
}

.button {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;

    padding-left: 100px;
    padding-right: 60px;

    position: relative;
}

.background{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    background: black;
    border-radius: 80px;
    transition: width 300ms ease-in;
    z-index: -1;
}
span{
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 20px;
    transition: color 300ms ease-in;
    position: relative;
    z-index: 1;
}
.arrow-wp{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border-radius: 80px;
    transition: width 300ms ease-in;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.arrow{
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    transition: transform 300ms ease-in;
}
.body{
    position: absolute;
    right: 0px;
    width: 25px;
    height: 3px;
    background: white;
    transition: all 300ms ease-in;
    opacity: 0;
}
.tip{
    height: 20px;
    width: 20px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    transition: all 300ms ease-in;
}
:hover>.background{
    width: 100%;
}
:hover>span{
    color: white;
}
:hover>.arrow-wp .arrow{
    transform:translate3d(30px,0,0) ;
}

:hover>.arrow-wp .arrow .body{
    opacity: 1;
}
